@charset "UTF-8";
html, body {
	margin: 0;
	padding: 0;	
	font-family: "Fira Sans", sans-serif;
	text-rendering: optimizeLegibility;
	background: linear-gradient(180deg, #000E17, #212F37);
	z-index: -1;
	min-height: 100vh;
}

main {
	color: #DDDDDD;
	hyphens: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration-color: #DDDDDD;
	color: #DDDDDD;
	font-weight: 300;
	hyphens: none;
	font-size: 14pt;
	line-height: 1.4;
}

h1 {
	font-size: 28pt;
	font-weight: 500;
	text-align: left;
	font-variant: small-caps;
}

h2 {
	font-size: 20pt;
	font-weight: 500;
	hyphens: none;
	text-align: left;
}

h3 {
	font-size: 16pt;
	font-weight: 400;
	hyphens: none;
	text-align: left;
}

br {
	padding: 20px;
}

footer {
	text-align: right;
	font-weight: 200;
	font-size: 14pt;
	padding: 20px;
	padding-bottom: 15px;
	background: linear-gradient(180deg, rgba(33,47,55,1) 0%, rgba(0,14,23,1) 20%, rgba(0,14,23,1) 100%);
	color: #BBBBBB
}

.style-title {
	font-family: Fira Sans;
	font-size: 18pt;
	font-weight: 600;
	text-decoration: none;
	text-align: right;
	float: right;
	color: #004D83;
	padding-right: 24px;
	padding-left: 24px;
	width: 40%;
	margin: 0;
	height: 50px;
	padding-top: 14px;
	min-width: 200px;
	padding-bottom: 10px;
}

.style-main {
	padding-top: 1px;
	padding-bottom: 1px;
	margin-right: auto;
	margin-left: auto;
	background-color: #000E17;
	text-align: justify;
	padding: 1px 5vw 1px 5vw;
	background: linear-gradient(180deg, #000E17, #212F37);
}

.style-main-simple {
	text-align: justify;
	padding: 1px 5vw 1px 5vw;
}

.style-main div {
	max-width: 1200px; 
	margin: auto;
}

.style-main-simple div {
	padding: 8vh 0px 8vh 0px;
	max-width: 800px;
	margin: auto;
}

.style-main:after {
	display: block;
	position: relative;
	content:'';
	left: 50%;
	z-index: 10;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: linear-gradient(180deg, #1F2D36, #212F37);
	transform: translateX(-50%);
	bottom: -50px;
}

@media (max-width: 600px) {
	.style-main {
		padding-top: 1px;
		padding-bottom: 1px;
		margin-right: auto;
		margin-left: auto;
		background-color: #000E17;
		text-align: left;
		padding: 1px 5vw 1px 5vw;
	}
}

.style-header {
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: medium solid #00A0FF;
	background-color: #001E31;
	height: 50vh;
	min-height: 350px;
	display: block;
	vertical-align: middle;
	background-image: linear-gradient(45deg,rgba(0,45,73,1.00) 0%,rgba(0,18,29,1.00) 99.48%);
	position: relative;
}

.style-socialImg {
	width: 50px;
	display: table-cell;
    text-align: center;
	margin: auto;
    animation: fadein .5s;
}

@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.style-socialImg:hover {
	opacity: 0.7; 
	transition: opacity .2s ease-out;
}

.style-social {
	display: table;
	width: 100%;
	table-layout: fixed;
	position: absolute;
	margin: auto;
	bottom: 40px;
}

@media (max-width: 1200px) {
	.style-social {
		margin: auto;
	}
}

.style-horizontalspan {
	display: table;
	width: 100%;
	table-layout: fixed;
	bottom: 80px;
}

.style-jumbotron {
	text-align: center;
	top: 10vh;
	position: relative;
	outline: none;
    cursor: default;
}

.style-jumbotron a {
	text-align: center;
	top: 10vh;
	font-family: "Roboto Mono", "Lucida Console", Monaco, monospace;
	font-weight: 400;
	font-size: 38pt;
	color: #00A2FD;
	outline: none;
	position: initial;
	cursor: url("../images/think.png"), auto;
}

.style-jumbotron:after {
	content: ''; 
	width: 5px;
	height: 36pt;
	background: #00A2FD;
	opacity: 0;
	display: inline-block;
	animation: blink 0.5s 3.0s infinite alternate;
	animation-timing-function: step-start;
}

@media (max-width: 600px) {
	.style-jumbotron a {
		font-size: 6vw;
	}

	.style-jumbotron:after {
	  	width: 0.6vw;
	  	height: 6vw;
	}
}

.style-img-blur {
	background-image: url('../images/Filtery Pic.jpg');
	background-size: contain;
	width: 300px;
	height: 300px;
	display: block;
    margin-left: auto;
    margin-right: 1%;
	box-shadow: 0 0 12px 12px #000E17 inset;
}

.style-image {
	align-self:center; 
	margin-left: 3vw;
	width: 200px;
}

.style-image img {
	max-width: inherit;
	min-width: inherit;
	display: inline-block;
	cursor: url("../images/meh.png"), auto;
}

.style-headshot {
	padding: 5vh 0px 5vh 0px;
	max-height: 600px;
	min-height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.style-headshot aside {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.style-headshot h2 {
	margin-left: 20px;
}

.style-headshot a {
	margin-left: 20px;
}

.style-headshot h1 {
	margin: 10px auto 10px 0px;
}

.style-headshot-button {
	max-height: 600px;
	min-height: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 100px;
}

.style-headshot-button a {
	height: 15vh;
	min-height: 150px;
	max-height: 150px;
	flex-basis: 188px;
	flex-grow: 1;
	background-color: #DDDDDD;
	color: #28292A;
	padding: 3vh 3vw;
	margin: 20px;
	font-size: 24pt;
	font-weight: 400;
	text-decoration: none;
	text-align: center;
	line-height: 130px;
	overflow: hidden;
	transition: transform 0.2s ease;
}

.neural-net-image {
	background-image: linear-gradient(235deg, rgba(34,187,124,0.95), rgba(4,94,163,0.95)), url('../images/rule30_alt3.png');
	margin-left: 0px;
}

.beng-image {
	background-image: linear-gradient(235deg, rgba(34,187,124,0.95), rgba(4,94,163,0.95)), url('../images/rule30_alt3.png');
	margin-right: 0px;
}


.neural-net-image:hover {
	opacity: 0.9; 
	transform: scale(0.98);
}

.beng-image:hover {
	opacity: 0.9; 
	transform: scale(0.98);
}

.style-herocontent {
	margin: 0px 0; 
    position: relative; 
    width: 100%; 
    height: 80vh; 
    padding: 0px; 
	overflow: hidden;
}

.style-herocontent a {
	position:absolute;
	width: 100vw;
	height: 100vh;
	text-align: center;
	font-weight: 800;
	padding-top: 35vh;
	font-size: 7vw;
	line-height: 10vh;
	color: #FFFFFF;
	mix-blend-mode: exclusion;
	background: rgba(255,255,255,0.05);
	transition: background-color 0.25s ease-in-out;
	z-index: 2;
}

.style-herocontent:hover a {
	background: rgba(255,255,255,0.00);
}

.style-herocontent:after {
	display: block;
	position: absolute;
	content:'';
	left: 0;
	width: 100%;
	height: 10px;
	background-size: 100% 100%;
	bottom: 0;
	background-image: linear-gradient(180deg, rgba(0,0,0,0.00), rgba(0,137,199,0.44));
	border-bottom: 2px solid #00A0FF;
	z-index: 3;
}

#slideshow > div, #slideshow2 > div, #slideshow3 > div, #slideshow4 > div { 
    position: absolute;  
	width: 100%;
	height: 100%;
  	background-size: cover;
	z-index: 1;
}

#slideshow > div > img, #slideshow2 > div > img, #slideshow3 > div > img, #slideshow4 > div > img {
	width: 100%; 
	height: inherit;
	object-fit: cover;
	vertical-align: middle;
}

.style-email {
	width: 100vw; 
	height: 100vh;
	padding: 0;
	margin: 0;
	background-color: #000E17;
	background: linear-gradient(180deg, #000E17, #212F37);
}

.style-email a {
	display: block;
	vertical-align: middle;
	text-align: center;
	color: rgba(0,112,164,1.00);
	transform: translateY(30vh);
	font-variant: normal;
	font-size: 9vw;
	font-family: "Roboto Mono", "Lucida Console", Monaco, monospace;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

@media (max-width: 600px) {
	.style-headshot {
		padding: 5vh 0px 15vh 0px;
		max-height: 600px;
		min-height: 300px;
		display: contents;
	}
	.style-headshot aside {
		justify-content: center;
		max-width: 100vw;
	}
	.style-image {
		align-self:center; 
		display: block;
		margin: auto;
		margin-top: 40px;
	}
	
	.style-headshot h2 {
		margin-left: 0px;
	}

	.style-headshot a {
		margin-left: 0px;
	}

	.no-webp .neural-net-image {
		margin-left: 20px;
	}

	.webp .neural-net-image {
		margin-left: 20px;
	}

	.no-webp .beng-image {
		margin-right: 20px;
	}

	.webp .beng-image {
		margin-right: 20px;
	}
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hamburger .hamburger-inner,.hamburger .hamburger-inner:after,.hamburger .hamburger-inner:before {
	background-color: #DDDDDD;
}

 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #262F33; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.25s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #B0B0B0;
    display: block;
	white-space: nowrap;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 
