[submodule "hamburgers"]
	path = hamburgers
	url = https://github.com/jonsuh/hamburgers.git
[submodule "lmweb"]
	path = lmweb
	url = https://github.com/slashfoo/lmweb.git
[submodule "lazysizes"]
	path = lazysizes
	url = https://github.com/aFarkas/lazysizes.git
[submodule "Fira-Lightened"]
	path = Fira-Lightened
	url = https://github.com/Frosticles/Fira-Lightened.git
