@font-face {
    font-family: 'Latin Modern Mono Caps';
    src: url('../font/lmmonocaps-oblique-webfont.woff2') format('woff2'),
         url('../font/lmmonocaps-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Mono Caps';
    src: url('../font/lmmonocaps-regular-webfont.woff2') format('woff2'),
         url('../font/lmmonocaps-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Mono';
    src: url('../font/lmmono-italic-webfont.woff2') format('woff2'),
         url('../font/lmmono-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Latin Modern Mono';
    src: url('../font/lmmono-regular-webfont.woff2') format('woff2'),
         url('../font/lmmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Mono Light Cond';
    src: url('../font/lmmonoltcond-oblique-webfont.woff2') format('woff2'),
         url('../font/lmmonoltcond-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Mono Light Cond';
    src: url('../font/lmmonoltcond-regular-webfont.woff2') format('woff2'),
         url('../font/lmmonoltcond-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Mono Light';
    src: url('../font/lmmonolt-bold-webfont.woff2') format('woff2'),
         url('../font/lmmonolt-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Latin Modern Mono Light';
    src: url('../font/lmmonolt-boldoblique-webfont.woff2') format('woff2'),
         url('../font/lmmonolt-boldoblique-webfont.woff') format('woff');
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Mono Light';
    src: url('../font/lmmonolt-oblique-webfont.woff2') format('woff2'),
         url('../font/lmmonolt-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Mono Light';
    src: url('../font/lmmonolt-regular-webfont.woff2') format('woff2'),
         url('../font/lmmonolt-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Mono Prop';
    src: url('../font/lmmonoprop-oblique-webfont.woff2') format('woff2'),
         url('../font/lmmonoprop-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Mono Prop';
    src: url('../font/lmmonoprop-regular-webfont.woff2') format('woff2'),
         url('../font/lmmonoprop-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Mono Prop Light';
    src: url('../font/lmmonoproplt-boldoblique-webfont.woff2') format('woff2'),
         url('../font/lmmonoproplt-boldoblique-webfont.woff') format('woff');
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Mono Prop Light';
    src: url('../font/lmmonoproplt-bold-webfont.woff2') format('woff2'),
         url('../font/lmmonoproplt-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Latin Modern Mono Prop Light';
    src: url('../font/lmmonoproplt-oblique-webfont.woff2') format('woff2'),
         url('../font/lmmonoproplt-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Mono Prop Light';
    src: url('../font/lmmonoproplt-regular-webfont.woff2') format('woff2'),
         url('../font/lmmonoproplt-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Mono Slanted';
    src: url('../font/lmmonoslant-regular-webfont.woff2') format('woff2'),
         url('../font/lmmonoslant-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Roman Caps';
    src: url('../font/lmromancaps-oblique-webfont.woff2') format('woff2'),
         url('../font/lmromancaps-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Roman Caps';
    src: url('../font/lmromancaps-regular-webfont.woff2') format('woff2'),
         url('../font/lmromancaps-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Roman';
    src: url('../font/lmroman-bolditalic-webfont.woff2') format('woff2'),
         url('../font/lmroman-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Latin Modern Roman';
    src: url('../font/lmroman-bold-webfont.woff2') format('woff2'),
         url('../font/lmroman-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Latin Modern Roman';
    src: url('../font/lmroman-italic-webfont.woff2') format('woff2'),
         url('../font/lmroman-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Latin Modern Roman';
    src: url('../font/lmroman-regular-webfont.woff2') format('woff2'),
         url('../font/lmroman-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Roman Demi';
    src: url('../font/lmromandemi-oblique-webfont.woff2') format('woff2'),
         url('../font/lmromandemi-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Roman Demi';
    src: url('../font/lmromandemi-regular-webfont.woff2') format('woff2'),
         url('../font/lmromandemi-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Roman Dunhill';
    src: url('../font/lmromandunh-oblique-webfont.woff2') format('woff2'),
         url('../font/lmromandunh-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Roman Dunhill';
    src: url('../font/lmromandunh-regular-webfont.woff2') format('woff2'),
         url('../font/lmromandunh-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Roman Slanted';
    src: url('../font/lmromanslant-bold-webfont.woff2') format('woff2'),
         url('../font/lmromanslant-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Latin Modern Roman Slanted';
    src: url('../font/lmromanslant-regular-webfont.woff2') format('woff2'),
         url('../font/lmromanslant-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Sans';
    src: url('../font/lmsans-boldoblique-webfont.woff2') format('woff2'),
         url('../font/lmsans-boldoblique-webfont.woff') format('woff');
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Sans';
    src: url('../font/lmsans-bold-webfont.woff2') format('woff2'),
         url('../font/lmsans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Latin Modern Sans';
    src: url('../font/lmsans-oblique-webfont.woff2') format('woff2'),
         url('../font/lmsans-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Sans';
    src: url('../font/lmsans-regular-webfont.woff2') format('woff2'),
         url('../font/lmsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Sans Demi Cond';
    src: url('../font/lmsansdemicond-oblique-webfont.woff2') format('woff2'),
         url('../font/lmsansdemicond-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Sans Demi Cond';
    src: url('../font/lmsansdemicond-regular-webfont.woff2') format('woff2'),
         url('../font/lmsansdemicond-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
